@model App.ViewModels.EditUserViewModel

@{
    ViewData["Title"] = "Edit Driver";
}

<h1>Edit Driver</h1>

<h4>Race</h4>
<hr />
<p>
    <a asp-action="Create">Create a Car</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Car Name
            </th>
            <th>
                Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => Model.Driver.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Driver.LastName)
            </td>
             <td>
                @Html.DisplayFor(modelItem => Model.Driver.Id)
            </td>
            <td>
                @foreach (var item in Model.Driver.UserCars) {
                @Html.DisplayFor(modelItem => item.Car.Name)
                }
            </td>
        </tr>
    </tbody>
</table>
@* @foreach (var item in Model.Cars) {
                @Html.DisplayFor(modelItem => item.Name)
                @Html.ActionLink("Add Car", "AddCars", new { id = Model.Driver.Id, carId = "item.Id" })}) 
} *@

<<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Car Name
            </th>
            <th>
                Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Cars) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @item.CreationDate.ToShortDateString()
            </td>
            <td>
                @foreach (var i in item.CarCategories) {
                    @i.Category.Name
                }
            </td>
            <td>
                @Html.ActionLink("Add Car", "AddCars", new { id = Model.Driver.Id, carId = item.Id }) 
            </td>
        </tr>
}
    </tbody>
</table>

<div>

</div>

